body{
	margin: 0;
	padding: 0;
	background: white;
	font-family: Arial;
}

ul
{
	list-style-type: none;
	background-color: lightgray;
	padding: 6px; overflow: hidden;


}
li
{
	
	display: inline;
	padding: 6px;
	margin: 0px;

}
a{
	color: black;
}

img{
 
	padding: 0px;
	margin: 1px;
    width:150px;
     height:100px;
}

.nav ul
{
	list-style-type: none;
	padding: 4px;
	margin: 0;
	text-align:right;
	background-color: white;
}
.nav li
{
	padding: 4px;
	display: inline-block;
	
	}

.nav a{
	text-decoration: none;

	color: black;
	width: 50px;
	display: block;
	padding: 0px;
	margin: 1px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: arial;

}




.carousel-item{
	border: 2px solid white;
	padding: 25px;
	size: auto;
} 

